.pokeitem{
    background-color: orange;
    a{
        filter: brightness(0) invert(1);
    }
}



.search_container{
    width: 1280px;
    background-color: #313131;
    color: white;
    margin: 0 auto;
    padding: 20px 10px;
}

.search_wrapper{
    width: 1024px;
    margin: 0 auto;
    padding: 20px 2px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100px;
    
}
.search_wrap{
    input{
        margin-top: 25px;
        width: 90%;
        height: 40px;
        border: 3px solid gray;
        border-radius: 5px;
        padding: 0 5px;
        outline: none;
    }
}

.search_instruction{
    width: 400px;
    height: 100px;
    background-color: rgb(119, 194, 44);
    font-size: 20px;
    border-radius: 4px;
    padding: 20px;
}



.search_label{
    font-size: 25px;
}





.sort_Category{
    margin: 20px 0;
    label{
        color: white;
    }
    .select_btn{
        margin-top: 20px;
    }
}


.sort_img_wrapper{
    display: flex;
    align-items: center;
    .sBtn_Text{
        margin-left: 5px;
    }
}

.sort_Category{
    color: #616161;
    font-size: 25px;
}


.select_btn{
    display: flex;
    width: 350px;
    height: 55px;
    background-color: #313131;
    color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    img{
        filter: brightness(0) invert(1);
    }
    i{
        font-size: 25px;
        transition: 0.3s;
    }
}
.sort_Category .select_btn{
    width: 250px;
}


.sort_Category.active .select_btn i{
    transform: rotate(-180deg);
}

.options{
    position: relative;
    padding: 20px;
    background-color: #313131;
    margin-top: 10px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    display: none;
    position: absolute;
    z-index: 5;
}
.sort_Category.active .options{
    display: block;
}



.option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    
}
.option:hover{
    background-color: #616161;
}

.option_text{
    font-size: 18px;
    
}
table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}
thead{
    th{
        padding: 2px 5px;
        background-color: #b6b5b5;
        border: 2px solid black;
        border-width: 2px  0;
        
    }
    .category{
        border-width: 2px  2px;
        
    }
}
tbody{
    img{
        width: 35px;
    }
    td{
        padding: 2px 5px;
        border: 2px solid black;
        border-width: 2px  0;
        
    }
    .category{
        border-width: 2px  2px;
        
    }
    tr:nth-child(odd){
        background-color: #f0f0f0;
    }
    tr:hover{
        background-color: #313131;
        color: white;
    }
}
.fixed div{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.not_found_message{
    display: none;
    width: 80%;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px 20px;
    color: red;
    margin: 20px auto;
    p{
        color: #313131;
    }
    ul li{
        color: #616161;
        margin-left: 30px;
        list-style: disc;
    }
}






@media  only screen and (max-width: 1285px) {
    .search_container{
        width: 100%;
    }
}
@media  only screen and (max-width: 1150px) {
    .search_wrapper,.sort_wrapper{
        width: 90%;
    }
}


@media only screen and (max-width: 818px){
    .search_wrapper{
        margin: 0 auto;
        padding: 20px 2px;
        display: block;
        
    }
    .search_wrap{
        input{
            margin-top: 25px;
            width: 80%;
            height: 40px;
            border: 3px solid gray;
            border-radius: 5px;
            padding: 0 5px;
        }
        margin-bottom: 20px;
    }
    .search_instruction{
        width: 70%;
        height: auto;
        background-color: rgb(119, 194, 44);
        font-size: 20px;
        border-radius: 4px;
        padding: 20px;
    }
}

@media  only screen and (max-width: 1150px) {
    .filter_wrap{
        width: 90%;
    }
}

@media only screen and (max-width: 818px){
    .filter_wrap{
        margin: 0 auto;
        padding: 20px 2px;
        
    }
}
